certifi==2023.5.7
colorama==0.4.6
genie[full]
nornir==3.3.0
nornir-scrapli
nornir-utils==0.2.0
ntc-templates==3.3.0
requests
rich==13.3.5
scrapli==2023.1.30
scrapli-cfg==2023.1.30
scrapli-community==2023.1.30
scrapli-netconf==2023.1.30
urllib3==1.26.15
pyats
