async-generator==1.10
colorama==0.4.5
commonmark==0.9.1
dataclasses==0.7
importlib-metadata==4.8.3
lxml==4.9.2
mypy-extensions==0.4.4
nornir==3.2.0
nornir-scrapli==2021.7.30
nornir-utils==0.2.0
ntc-templates==2.3.2
Pygments==2.14.0
rich==12.6.0
ruamel.yaml==0.17.22
ruamel.yaml.clib==0.2.7
scrapli==2021.7.30
scrapli-cfg==2021.7.30
scrapli-community==2021.7.30
scrapli-netconf==2021.7.30
six==1.16.0
textfsm==1.1.3
typing-extensions==3.10.0.2
zipp==3.6.0
